// This is a hocon file.
{
	"234": "miheich",  // It supports comments!
	"912": "nslz",
	"1199": "Balza",
	"1204": "Yari",
	"1541": "L5D",
	"1942": "lads",
	"1977": "cp7",
	"2775": "generall",
	"2850": "red_falcon",
	"2909": "zhen",
	"3020": "blackray",
	"3048": "jfhs",
	"3078": "twtwtw",
	"3217": "adepto",
	"3387": "alex-86",
	"3739": "max_wp",
	"3823": "jenik15",
	"3842": "Guest_",
	"4014": "Crabbe",
	"4183": "Sers",
	"4192": "mirTONU",
	"5297": "Paskal",
	"5394": "NoYaSloPaToy",
	"5487": "Mixa830",
	"5488": "Denya795",
	"5489": "Denya19",
	"5490": "Pilot418",
	"5491": "Luna250",
	"5492": "Mixa363",
	"5493": "Denya570",
	"5494": "fed190",
	"5495": "Mixa977",
	"5496": "Natashka615",
	"5497": "Natashka83",
	"5498": "Denya962",
	"5499": "Semen569",
	"5500": "Nemo781",
	"5501": "Denya254",
	"5502": "Pilot239",
	"5503": "Nemo407",
	"5504": "Semen477",
	"5505": "Pilot367",
	"5506": "Denya902",
	"5507": "Fedka75",
	"5508": "fed655",
	"5509": "Fedka776",
	"5510": "Nemo788",
	"5511": "Nemo553",
	"5512": "Luna629",
	"5513": "Natashka769",
	"5514": "Denya459",
	"5955": "GK2012",
	"7176": "aderyabin",
	"7472": "bjjjbjjj",
	"7559": "Bezeus",
	"7929": "ifirf1",
	"8226": "denisOg",
	"8525": "LXxhELT",
	"8543": "lakrVOg",
	"8547": "AAypEIq",
	"8551": "agfvTzv",
	"8552": "COMHPiI",
	"8638": "bjbAMvU",
	"8657": "bFaInlN",
	"8665": "BLDPAXP",
	"8781": "bGczbZF",
	"8786": "MITtMIq",
	"8793": "KPbhVgy",
	"8808": "coHTwmS",
	"8834": "mvuBfZP",
	"8847": "bfGjKRC",
	"8891": "LHXzxZk",
	"8892": "cpZFbWH",
	"8905": "bkiSKwd",
	"8912": "ADBzYkS",
	"8915": "KQGqNsI",
	"8960": "mIwxJAl",
	"8975": "McWQUOE",
	"9007": "MiEpoZc",
	"9014": "bkezArB",
	"9036": "kxKIHhJ",
	"9581": "Chupacabramiamor",
	"9928": "Jaroslav285",
	"9972": "jey-val-star",
	"10149": "noganno",
	"10247": "ajtkulov",
	"10365": "lord_rb",
	"12559": "victir",
	"13926": "Vasia",
	"14326": "none1",
	"14364": "mikakak",
	"21905": "vadik",
	"21966": "AedenJackson",
	"21988": "ncuxonam",
	"23619": "NNCYC",
	"25118": "acula98",
	"25252": "macaque_gomosek",
	"25615": "CrashTesteAnusov",
	"25697": "LinuxGovno",
	"25778": "jdryand",
	"25806": "BETEP",
	"25885": "vkasci",
	"25947": "inkanus_gray",
	"26028": "zhigolo",
	"26065": "ne4eHb",
	"26097": "Lemming",
	"26216": "AHCKujlbHblu_netyx",
	"26278": "guest10",
	"26279": "guest9",
	"26280": "guest7",
	"26283": "guest11",
	"26284": "guest12",
	"26293": "neTyx_npoTKHyTbIu",
	"67199": "SteadfastTinCock",
	"67205": "inseminator",
	"67237": "monobogdan",
	"67299": "ru66oH4uk",
	"67333": "A_P_Suslikov",
	"67335": "hormand",
	"67380": "miwomare",
	"67456": "MEJlOMAH",
	"67461": "Jll-O6OBb",
	"67722": "MOXHATKA",
	"67781": "guest3",
	"67823": "CBuHOKYP",
	"67903": "cmeptor"
}